name: Build tvheadend dockerimage mod

# Controls when the workflow will run
on:
  workflow_dispatch

# permissions are needed if pushing to ghcr.io
permissions: 
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Get the repository's code
      - name: Checkout
        uses: actions/checkout@v3
        with:
          repository: pykpkg47/docker-tvheadend

      # https://github.com/docker/setup-qemu-action
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2    
      # https://github.com/docker/setup-buildx-action
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2  
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push x64
        uses: docker/build-push-action@v3
        with:
          context: .
          platforms: linux/amd64
          push: true
          load: true
          tags: ghcr.io/pykpkg47/tvheadend:amd64-latest
      - name: Build and push armv7
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./Dockerfile.armhf
          platforms: linux/arm/v7
          push: true
          load: true
          tags: ghcr.io/pykpkg47/tvheadend:arm32v7-latest
      - name: Build and push x64
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./Dockerfile.aarch64
          platforms: linux/arm64
          push: true
          load: true
          tags: ghcr.io/pykpkg47/tvheadend:arm64v8-latest
          
      -  name: Push image to GHCR
         run: |
          docker ls 
          #docker manifest create ghcr.io/pykpkg47/tvheadend:latest ghcr.io/pykpkg47/tvheadend:arm64v8-latest ghcr.io/pykpkg47/tvheadend:arm32v7-latest ghcr.io/pykpkg47/tvheadend:amd64-latest
          #docker manifest push ghcr.io/pykpkg47/tvheadend:latest
